In [ ]:
city={69000:'mirpurkhas',72200:'hydrabad',70010:'tandoalayar'}
zipcode=input('please enter zip code:')
zipcode=int(zipcode)
print(city[zipcode])

please enter zip code:72200
hydrabad

In [ ]:
total=0 
marksheet={}
for i in range(5):
  fr=input("please enter friend ")
  marks=[0,0,0,0,0]
  for j in range(5):
    marks[j]=input("please enter marks ")
    total=total+int(marks[j])
  marksheet[fr]=marks
print(marksheet)
print('total marks are ',total)
print('average is ',total/25)

please enter friend umer
please enter marks 65
please enter marks 68
please enter marks 54
please enter marks 50
please enter marks 80
please enter friend anas
please enter marks 66
please enter marks 4
please enter marks 55
please enter marks 72
please enter marks 61
please enter friend shoban
please enter marks 50
please enter marks 63
please enter marks 65
please enter marks 66
please enter marks 85
please enter friend waseem
please enter marks 54
please enter marks 32
please enter marks 65
please enter marks 66
please enter marks 25
please enter friend waleed
please enter marks 65
please enter marks 63
please enter marks 35
please enter marks 56
please enter marks 68
{'umer': ['65', '68', '54', '50', '80'], 'anas': ['66', '4', '55', '72', '61'], 'shoban': ['50', '63', '65', '66', '85'], 'waseem': ['54', '32', '65', '66', '25'], 'waleed': ['65', '63', '35', '56', '68']}
total marks are  1433
average is  57.32