In [ ]:
import pandas as pd
student = pd.Series({'name':'Hamza ali','date of birth':'2000/11/15','roll no':15,'marks':95})
print(s)

name              Hamza ali
date of birth    2000/11/15
roll no                  15
marks                    95
dtype: object

In [ ]:
sports = pd.DataFrame({'players':['abc','def','geh','ijk'],'runs':[35,30,2,56],'balls':[28,27,3,58],"minutes":[32,24,6,65],"Dots":[6,3,1,13]})
a = sports.sort_values(by='runs')
print(a['players'])

2    geh
1    def
0    abc
3    ijk
Name: players, dtype: object

In [ ]:
sports[(sports['runs'] > 30) & (sports['minutes'] > 30)]

  players  runs  balls  minutes  Dots
0     abc    35     28       32     6
3     ijk    56     58       65    13