In [ ]:
roll = input("Enter your roll number ")
roll = int(roll)
for index in range(1,49):
  print(index, end = " ")
  if index == roll:
    break

Enter your roll number 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [ ]:
waleed = input("waleed roll number ")
hammad = input("hammad roll number ")
anas = input("anas roll number ")
umer = input("umer roll number ")
bilal = input("bilal roll number ")
waleed = int(waleed)
hammad = int(hammad)
anas = int(anas)
umer = int(umer)
bilal = int(bilal)
for index in range(1,49):
  if index == waleed or index == hammad or index == anas or index == umer or index == bilal:
    continue
  print(index, end = " ")

waleed roll number 44
hammad roll number 13
anas roll number 26
umer roll number 47
bilal roll number 48
1 2 3 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20 21 22 23 24 25 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 45 46

In [ ]:
subject = []
marks = []
student = {}
for index in range(6):
  subject_name = input("Enter Subject Name: ")
  subject_marks = int(input("Enter the Marks: "))
  if subject_marks > 100:
    print("Marks should be in between 0 and 100. ")
    subject_marks = int(input("Enter the Marks: "))
  subject.append(subject_name)
  marks.append(subject_marks)
student = dict(zip(subject, marks))
print(student)

Enter Subject Name: english
Enter the Marks: 55
Enter Subject Name: urdu
Enter the Marks: 79
Enter Subject Name: physics
Enter the Marks: 21
Enter Subject Name: math
Enter the Marks: 58
Enter Subject Name: islamiyat
Enter the Marks: 90
Enter Subject Name: biology
Enter the Marks: 52
{'english': 55, 'urdu': 79, 'physics': 21, 'math': 58, 'islamiyat': 90, 'biology': 52}

In [ ]:
total_marks,itr = 0,0
for index in range(6):
  if marks[index] < 50:
    continue
  total_marks = total_marks + marks[index]
  itr = itr+1
print(total_marks/itr)

66.8